.git
.idea
*.egg-info
.cache
.ipynb_checkpoints
.tox
data
tests
.dpp.db
.env
.env.example
.travis.yml
*.md
tox.ini
docker-compose*
.data-docker
.env.*
devops/k8s/Chart.yaml
devops/k8s/charts/*/Chart.yaml
devops/k8s/values-*.yaml
