**/.git
**/.idea
**/*.egg-info
**/.cache
**/.ipynb_checkpoints
**/.tox
**/data
**/tests
**/.dpp.db
**/.dpp
.env
.env.example
.travis.yml
*.md
tox.ini
docker-compose*
.data-docker
devops
.rtf_to_txt
.dockerignore
.gitignore
LICENSE
README.md
tox.ini
*.secret.env
**/.code
**/data_samples
