# you can copy this file to docker-compose.override.yml to modify compose settings
# usually you will want to modify the environment variables
version: '3'

services:
  # if you want to connect to the redis instance (which in most cases you won't need to),
  # you need to expose the ports, then you can access from the host using e.g. `redis-cli -p 56379`
  # redis:
  #   ports:
  #     #   host:docker
  #     - "56379:63679"
  app:
    # for development - you can mount the host directory inside the docker
    # that way code changes are reflected without having to rebuild
    # volumes:
    #   - .:/knesset
    # if you want to use a different port then the default 5000
    # in this example it will be available on localhost:55000
    # ports:
    #   - "55000:5000"
