[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

setuptools = "*"
distribute = "*"
"datapackage-pipelines[speedup]" = "*"
knesset-data = "*"
"requests[socks]" = "*"
botocore = "*"
"boto3" = "*"
python-dotenv = "*"


[dev-packages]

tox = "*"
pytest = "*"


[requires]

python_version = "3.6"
